.app-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* height: 700px; */
}

/* .app-viewer {
  flex: 2;
  border: 1px solid red;
} */

.app-creator {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 800px;
  /* border: 1px solid #000; */
}

.pdf-form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  align-items: center;
}

.pdf-viewer {
  /* border: 1px solid blue; */
  flex: 2;
}

.input {
  width: 150px;
  margin-bottom: 10px;
}
